<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <nav>
            <h1><%= title %></h1>
            <a href="/">Back</a>
        </nav>
    </header>
    <div class="contenar">
            <div class="articl">
                <h2><%= articl.title %></h2>
                <p><%= articl.content %></p>
            </div>
            <div class="button">
                <a href="/edit/<%= articl.id %>"><button class="update">Edit</button></a>
                <a href="/delete/<%= articl.id %>"><button class="delete">Delete</button></a>
            </div>
    </div>
</body>
</html>